 /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
	   position: absolute;
			left: 2.5%;
			top: 5%;
        height: 40vh;
		width: 95%;
		 border-style: solid;
		 border-width: medium;
		 border-color: green;
      }
	    #openweathermap {
	   position: absolute;
			left: 2.5%;
			top: 50%;
         height: 35vh;
		 width: 95%;
		 border-style: solid;
		 border-width: medium;
		 border-color: green;
		 background-color: #ffd;		 
      }
	  #main	 {
		  min-height: 2rem; }
		  main #location {
			margin-top: .5rem;
			text-align: center;
			font-size: 1.5rem;
			font-weight: 600;
			color: #1f69be; }
		  main #weather {
			margin-top: .5rem;
			text-align: center;
			font-size: 1.5rem;
			font-family: courier;
			font-weight: bold; 
			color: red;}
		  main #temperature {
			font-size: 5rem;
			font-family: verdana;
			font-weight: 100;
			color: #1f69b3;
			background-color: #ffd; 
			margin-top: .75rem;
			text-align: center;	}
		  main #desc {
			margin-top: .25rem;
			text-align: center;
			font-size: 1.5rem;
			font-family: Courier;
			font-weight: bold;
			color: green;}
			}
	
   <!--   /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
		width: 100%;
         }-->